{% extends 'base.html'%}
{% load static %}


{% block title %}
Product {{ article.title }}
{% endblock %}


{%block detail%}
    <div
        id="carouselBasicExample"
        class="carousel slide carousel-fade"
        data-mdb-ride="carousel"
        >
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active"></li>
            <li data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1"></li>
            <li data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2"></li>
          </ol>

          <!-- Inner -->
          <div class="carousel-inner">
            <!-- Single item -->
            <div class="carousel-item active">
              <img
                src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).jpg"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item">
              <img
                src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).jpg"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item">
              <img
                src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).jpg"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </div>
          </div>
          <!-- Inner -->

          <!-- Controls -->
          <a
            class="carousel-control-prev"
            href="#carouselBasicExample"
            role="button"
            data-mdb-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselBasicExample"
            role="button"
            data-mdb-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>

        <br>


        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">
{#                {% block py %}#}
{#                    {% index = 0 %}#}
{#                {% endblock %}#}
                {% for board in snowboard %}

                  <div class="col-lg-4">

{#                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>#}
{#                        <img src="{{ snowboard.image.url}}" alt="..." id>#}
{#                    </svg>#}

                    <h2>{{ board.name }}</h2>
                    <b>{{ board.cost }} руб.</b>
                    <p>{{ board.description }}</p>
                    <p><a class="btn btn-secondary" href="{{ board.pk }}">View details »</a></p>
                  </div><!-- /.col-lg-4 -->


                {% endfor %}
            </div><!-- /.row -->


                <!-- START THE FEATURETTES -->

                <hr class="featurette-divider">

            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">Burton<span class="text-muted">  It’ll blow your mind.</span></h2>
                <p class="lead">Now the Burton Snowboards company produces more than a hundred items: boards, sports uniforms, shoes, bindings, masks, helmets for guys, girls, and also children. To attract attention to its products, Burton does a lot of advertising work: it sponsors major snowboarding competitions and the best professional athletes, including Shaun White, Terje Haakonsen, DCP, Jussi Oksanen, Jeremy Jones, Keir Dillon, Tadashi Fuse and others.</p>
              </div>
              <div class="col-md-5">
                <img src="../media/images/images.jpeg" class="card-img-top" width="500" height="500">
              </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
              <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">QuickSilver  <span class="text-muted"> See for yourself.</span></h2>
                <p class="lead">Quiksilver, Inc. Is a company that is one of the largest manufacturers of shoes, clothing and accessories for surfing, snowboarding, skateboarding and similar sports. Founded by Alan Green in 1969 in Torquay, Victoria, Australia. Today the head office is based in Biarizza, France.</p>
              </div>
              <div class="col-md-5 order-md-1">
                <img src="../media/images/images.png" class="card-img-top" width="500" height="500">
              </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">Union <span class="text-muted"> Checkmate.</span></h2>
                <p class="lead">Controlling our full circle supply chain assures a superior product from start to finish. From chairlift meetings, to paper sketches, then CAD Designs... Prototypes, testing, and tooling... All Union Bindings are developed, produced, and shipped inhouse with zero outsourcing or 3rd party middlemen cutting into the value of our final product. Union is THE only conventional binding supplier who owns and operates its own production facility.</p>
              </div>
              <div class="col-md-5">
                <img src="../media/images/union-profile.jpg" class="card-img-top" width="500" height="500">
              </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->
        </div>

{#        {% if not user.is_athenticated %}#}
{#            <div class="container" style="padding-top: 25px">#}
{#                <div class="row">#}
{#                    {% for board in snowboard %}#}
{#                        <div class="col-4">#}
        {#                    <button type="button" class="btn-secondary btn-lg" data-bs-toggle="button" autocomplete="off">#}
{#                            <a href="{{ board.pk }}">#}
{#                                <b>{{ board.name }}</b>#}
{#                            </a> <br>#}
        {#                    </button>#}
                {#            <a href="{{ article.pk }}">link</a>#}
{##}
{#                            <b>{{ board.cost }} руб.</b>#}
        {#                    <b>{{ article.content }}</b>#}
{#                            <hr>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
{#        {% else %}#}
{#            <a>not found</a>#}
{#        {% endif %}#}


{%endblock%}
<script type="text/javascript" src="{% static 'MDB-UI-KIT-Free-3.1.0/js/mdb.min.js' %}"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">