{% extends 'base.html'%}
{% load static %}


{% block title %}
Product {{ article.title }}
{% endblock %}


{%block detail%}
<div class="container">
        <img src="{{ snowboard.image.url}}" alt="..." id><br>
        <a>Сноуборд {{ snowboard.name }}</a><br>
        <a>Цена{{ snowboard.cost }} руб.</a><br>
        <a>Описание {{ snowboard.description }}</a><br>
        <a>Страна производитель {{ snowboard.manufacturer_country }}</a><br>
    </div>


{%endblock%}
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">